/*SARA*/
* {
    background-color: #e0e7f1;
}


#logo {
    display: block;
    margin: auto;
    height: 100px;
}

.nav-enlace {
    display: inline-block;
    background-color: #9dd0e3;
    color: black;
    font-weight: bold;
    padding: 10px 0px;
    text-decoration: none;
    font-size: large;
}


.nav-enlace:hover {
    background-color: #5daac2;
    padding: 10px 30px;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #9dd0e3;
}


@media (max-width: 550px) {
    nav {
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px;
        text-align: center;
    }
}

/*SARA - Conflicto (intro)*/
.intro {
    text-align: justify;
}

/*SARA - Conflicto (galería de imágenes)*/
.section-div {
    padding: 20px 0px;
    width: 49.999%;
}

.p-razon {
    text-align: justify;
    padding-right: 15px;
}

.section-img {
    float: left;
    width: 49.9999%;
    padding-right: 15px;
}

@media (max-width: 550px) {
    .section-div {
        width: 100%;
    }

    .section-img {
        height: 100%;
        width: 100%;
        padding-bottom: 15px;
    }

    .p-razon {
        padding-right: 0;
    }
}

/*SARA - Conflicto (plazos de entrega)*/
.entrega {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}