/*SARA*/
* {
    background-color: #e0e7f1;
}

.clearfix {
    clear: both;
}


/*SARA - Header*/
#logo {
    display: block;
    margin: auto;
    height: 100px;
}


/*SOFIA*/
nav {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #9dd0e3;
}

.nav-enlace {
    display: inline-block;
    background-color: #9dd0e3;
    color: black;
    font-weight: bold;
    padding: 10px 0px;
    text-decoration: none;
    font-size: large;
}

.nav-enlace:hover {
    background-color: #5daac2;
    padding: 10px 30px;
}

@media (max-width: 550px) {
    nav {
        flex-direction: column;
    }

    .nav-enlace {
        margin: 10px;
        text-align: center;
    }
}


/*SOFIA*/
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}


/*SARA - Conflicto (intro)*/
.intro {
    text-align: justify;
}


/*SARA - Conflicto (plazos de entrega)*/
.entrega {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}


/*SOFIA - Conflicto (galería de imágenes)*/
h2 {
    padding-top: 30px;
    padding-left: 10px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 200px;
    height: 200px;
}

div.desc {
    padding: 10px;
    text-align: center;
    height: 40px;
}

div.precio {
    padding: 5px;
    font-size: large;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 600px) {
    div.gallery img {
        width: 100%;
        height: 100%;
    }
}



/*SARA - Footer*/
footer {
    height: 140px;
    width: 100%;
    background-color: #9dd0e3;
}

.foot {

    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
    background-color: #9dd0e3;
}

.registroFooter {
    background-color: #9dd0e3;
    width: 60px;
    height: 60px;
    float: right;
    margin-top: 45px;
    margin-right: 40px;
}



/*SOFIA y SARA - Formulario*/
h1{
    text-align: center;
}

form{
    display: grid;
}

input {
    width: 500px;
    background: #a6c0da66;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    margin: auto;
    line-height: 45px;
    text-align: center;
}

input:valid {
    box-shadow: 0 0 2px rgba(0, 255, 0, 0.4);
}

input:valid:focus {
    background: #80be93a7;
    box-shadow: none;
}

input:invalid {
    box-shadow: 0 0 2px rgba(255, 0, 0, 0.4);
}

input:invalid:focus {
    background: #cb908989;
    box-shadow: none;
}

label {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: large;
    margin: auto;
}

.submit{
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 150px;
}

@media (max-width: 600px) {
    input{
        width: 100%;
    }
}
